@import "variables.scss";

.messages-container {
  padding: 15px;
  background-color: $messages-color;

  .messageBox {
    border-radius: 20px;
    padding: 5px 20px;
    color: $fg;
    display: inline-block;
    max-width: 80%;
  }

  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
    margin-top: 0;
  }

  .messageText img {
    vertical-align: middle;
  }

  .messageContainer {
    display: flex;
    padding: 0 5%;
    margin-top: 3px;
  }

  .sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    letter-spacing: 0.3px;
    font-weight: bold;
  }

  .pl-10 {
    padding-left: 10px;
  }

  .pr-10 {
    padding-right: 10px;
  }

  .justifyStart {
    justify-content: flex-start;
  }

  .justifyEnd {
    justify-content: flex-end;
  }

  .colorWhite {
    color: $fg;
  }

  .colorDark {
    color: #353535;
  }

  .backgroundBlue {
    background: #2979ff;
  }

  .backgroundDark {
    background: $bg;
  }

  .backgroundLight {
    background: $fg;
  }
}
