@import "variables.scss";

:host,
input,
.sendButton {
  background-color: $messages-color;
}
.form {
  display: flex;
}

.input {
  border-radius: 0.25em;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
  border: 1px solid #fff;
  color: $fg;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0 none;
}

.sendButton {
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  cursor: pointer;
  color: #bdc7e6;
  font-size: 1.1rem;
}
